* {
  --primary-color: #434343;
  --secondary-color: #ff3d57;
  --tertiary-color: #ffca00;
  --success-color: #00d748;
}

body {
  overflow: hidden;
}

.media-body {
  padding-top: 2rem;
  overflow: hidden;
  zoom: 1;
}

.pull-right {
  float: right;
}

.answer {
  display: block;
  float: right;
  padding: 0.2rem 5rem;
  color: white;
  background: rgb(67, 67, 67, 0.7);
  border-radius: 12px;
}

.question {
  padding: 0.2rem 5rem;
  color: var(--primary-color);
  background: var(--tertiary-color);
  border-radius: 12px;
}

small {
  font-size: 85%;
  font-family: 'Poppins', sans-serif;
}

.message-wrap {
  position: relative;
  max-height: 62vh;
  padding-right: 15px;
  padding-left: 15px;
  overflow-y: scroll;
  border-radius: 17px;
}

.row {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.robo-msg {
  box-shadow: 0 0 29px 0 rgb(0 0 0 / 13%);
}

.msg {
  margin: 0;
  padding: 5px;
}

.msg-wrap {
  max-height: 400px;
  padding: 10px;
  overflow: auto;
}

.time {
  color: #bfbfbf;
}

.send-wrap {
  box-sizing: border-box;
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.send-message {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 6px 12px;
  color: #555;
  font-size: 14px;
  font-family: inherit;
  line-height: 1.428571429;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  resize: none;
}

input,
button,
select,
textarea {
  margin: 0;
  font-size: 100%;
  font-family: inherit;
  line-height: inherit;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.send-message-btn {
  margin-bottom: -5rem !important;
  padding-top: 0.2rem;
  padding-right: 1rem;
  color: var(--primary-color);
  text-decoration: auto;
}

.send-message-btn:hover {
  color: #555;
}

.highlight {
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}

.hr {
  margin-top: 4rem;
  border-bottom: 1px solid var(--secondary-color);
  opacity: 0.3;
}

.robo-container {
  display: flex;
}

.robo-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.green {
  color: var(--success-color);
}

#curious-robo {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  background-image: url('./images/curious-bot-1.png');
  background-repeat: no-repeat;
  background-size: contain;
}

#animated {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  background-image: url('./images/robo-animation.gif');
  background-repeat: no-repeat;
  background-size: contain;
}

.st0 {
  opacity: 0.5;
  fill: #d3d8f7;
}

.st1 {
  fill: #70d8ff;
}

.st2 {
  fill: none;
  stroke: #70d8ff;
  stroke-width: 3;
  stroke-miterlimit: 10;
}

.st3 {
  fill: #fff;
}

.st4 {
  fill: none;
  stroke: #70d8ff;
  stroke-width: 4;
  stroke-miterlimit: 10;
}

.st5 {
  fill: none;
  stroke: #70d8ff;
  stroke-width: 5;
  stroke-miterlimit: 10;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

.media {
  margin-top: 15px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.btn-panel {
  box-sizing: border-box;
}

#textArea:focus-within {
  border: 1px solid var(--primary-color);
  outline: none !important;
  box-shadow: 0 0 7px var(--primary-color);
}

.thought {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  max-width: 220px;
  min-height: 40px;
  margin: 20px;
  padding: 20px;
  text-align: center;
  background-color: #fff;
  border-radius: 30px;
}

.thought:before,
.thought:after {
  position: absolute;
  z-index: -1;
  display: block;
  background-color: #fff;
  border-radius: 50%;
  content: '';
}

.thought:before {
  top: -12px;
  left: 28px;
  width: 44px;
  height: 44px;
  box-shadow: -50px 30px 0 -12px #fff;
}

.thought:after {
  right: 26px;
  bottom: -10px;
  width: 30px;
  height: 30px;
  box-shadow: 40px -34px 0 0 #fff, -28px -6px 0 -2px #fff,
    -24px 17px 0 -6px #fff, -5px 25px 0 -10px #fff;
}
